* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    background-color: black;
}

section {
    margin: 1rem;
}

p {
    color: brown;
}

.pacman {
    color: aqua;
    background-color: blue;
    font-size: small;
}
