* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mi-seccion p::before {
    content: "Chau desde CSS";
    color: red;
    text-shadow: 2px 2px 3px gray;
}

.mi-seccion p::after {
    content: "Hola desde CSS";
    color : blue;
    text-shadow: 2px 2px 3px gray;
}

