
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffa69e, #acb6e5);
    color: #333;
    padding: 5vh 5vw;

}

header {
    background: #acb6e5;
    text-align: center;
    padding: 2em 0;
    border-bottom: 5px solid #333;
}

h1 {
    font-size: 5em;
    color: #ff6347;
    text-shadow: 0.1em 0.1em #2f4f4f;
    margin-bottom: 1vw;

}


h3 {
    height: 100%;
    padding: 5vw 5vw;
    background: linear-gradient(to right, #ffa69e, #861657);
    color: white;
    border-radius: 25px;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 0vw;
    font-size: 1.5em;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2vw;
}

.box-image {
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.box-image:hover {
    transform: translateY(-1vh);
}

h4 {
    padding: 1em;
    background: linear-gradient(to right, #ffa69e, #861657);
    color: white;
    border-radius: 0 0 25px 25px;
}

.separator1 {
    height: 2px;
    background: linear-gradient(to right, #50c9c3, #96deda);
    margin: 0.5em 0;
}

img {
    width: 100%;
    display: block;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    flex-shrink: 0;

}

p {
    padding: 1em;
    text-align: justify;
    background: #f8f8f8;
    border-left: 4px solid #50c9c3;
    position: relative;
    font-size: 0.9em;
}

p:before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #50c9c3, #96deda);
}

.div-btn {
    text-align: center;
    padding: 1em;
    background: #861657;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: auto;
}

.link-btn {
    text-decoration: none;
    color: white;
    background: #ff6347;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1em;
}

.link-btn:hover {
    background-color: #861657;
}

footer {
    text-align: center;
    margin-top: 2vw;
    padding: 1vw 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2vh);
    }
}

img:hover {
    animation: float 2s ease-in-out infinite;
}