* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.articulo {
    padding: 2vw;
    margin: 2vw;
    background-color: beige;
    /* box-shadow: 3px 3px 5px; */
    box-shadow: 3px 3px 15px inset rgb(0,0,0,0.5),3px 3px 5px blue;
}

.articulo h3 {
    color: brown;
    font-size: 2em;
    text-shadow: 3px 3px 10px black;
    margin-bottom: 15px;
}

.articulo p {
    text-shadow: 0 0 3px rgb(0,0,0,0.5);
}