* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto", sans-serif;
src: url("/MI-CURSO-FULLSTACK/Desafio-Semanal/Desafio8/Fonts/Roboto/Roboto-Bold.ttf");
}

 @font-face {
    font-family: "Poppins", sans-serif;
    src: url(/MI-CURSO-FULLSTACK/Desafio-Semanal/Desafio8/Fonts/Poppins/Poppins-Bold.ttf);

} 
body {
    font-family:"Roboto", "Poppins", sans-serif;
} 

h1 {
    font-family: "Roboto" sans-serif;
    
}