* {
    box-sizing: border-box;
}

body {
    background-color: #081c15;
}

header {
    margin-top: 5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    color: white;
    text-align: center;

}

.separator-top {
    border-top: solid 1.5vw #2D6A4F;
    border-right: solid 1.5vw transparent;
    border-left: solid 1.5vw transparent;
}

.separator-bottom {
    border-bottom: solid 1.5vw #2D6A4F;
    border-right: solid 1.5vw transparent;
    border-left: solid 1.5vw transparent;

}


main {
    
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
    text-align: center;

}

#datos-personales,
#datos-contacto {
    width: 100%;
margin-top: 1vw;
margin-bottom: 1vw;
margin-left: 5vw;
margin-right: 5vw;
}


fieldset {
    background-color: #B7E4C7;
    border: 2px solid;
    border-color: #2D6A4F;
    border-radius: 0.5vw 0.5vh 0.5vw 0.5vh;
}

legend {
    padding: 0.5em;
    background-color: #2D6A4F;
    border-radius: 1vw 1vh 1vw 1vw;
}

/* label[for=id-nombre],
label[for=id-apellido],
label[for=id-documento],
label[for=id-pais],
label[for=id-contanosdevos],
label[for=id-sexo],
label[for=id-telefono],
label[for=id-email],
label[for=id-sexo] {

} */

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
    width: 50%;
    
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: #D8F3DC;
    border: 1px solid #2D6A4F;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/MI-CURSO-FULLSTACK/Desafio-Semanal/Desafio8/Fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(/MI-CURSO-FULLSTACK/Desafio-Semanal/Desafio8/Fonts/Poppins/Poppins-Bold.ttf);

}

body {
    font-family: "Roboto", "Poppins", sans-serif;
}

h1 {
    font-family: "Roboto" sans-serif;

}